<nav class="container-fluid  mt-5 mb-5 border-bottom border-2 border-light w-75 pb-5">
    <nav class="offset-3 col-6">
        <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item border-0">
                <a class="text-dark nav-blog-links" href="{{ site.url }}">Articles</a>
            </li>
            <li class="list-group-item border-0">
                <a class="text-dark nav-blog-links" href="{{ site.url }}feed/posts">Feed</a>
            </li>
            <li class="list-group-item border-0">
                <a class="text-dark nav-blog-links" href="{{ site.url }}category">Categories</a>
            </li>
            <li class="list-group-item border-0">
                <a class="text-dark nav-blog-links" href="{{ site.url }}tag">Tags</a>
            </li>
        </ul>
    </nav>
</nav>
