<div class="row mt-1 mb-5 border-bottom border-1 border-light">
    <nav class="offset-3 col-6">
        <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item border-0">
                <a class="text-dark nav-blog-links" href="{{ site.blog }}/">Articles</a>
            </li>
            <li class="list-group-item border-0">
                <a class="text-dark nav-blog-links" href="{{ site.blog }}/categories">Categories</a>
            </li>
            <li class="list-group-item border-0">
                <a class="text-dark nav-blog-links" href="{{ site.blog }}/tags">Tags</a>
            </li>
        </ul>
    </nav>
</div>
