<ul class="p-0 post-list">
  {% for post in paginator.posts %}
    <li class="row mb-5">
      <div class="col-12 d-flex justify-content-center text-center">
        <a class="text-dark post-link" href="{{ post.url | prepend: site.url }}">
        <span>{{ post.title }}</span>
        <br>
        <small class="fs-10 d-flex justify-content-center">{{ post.date | date: "%-d %B %Y" }}</small>
        </a>
      </div>
      {% assign ph_1 = post.content | split: '<p>' %}
      {% assign ph_2 = ph_1[1] | split: '</p>' %}
      {% assign ph = ph_2[0] | split: '</p>' %}
      {% if include.rm %}
        <div><p>{{ ph }}</p></div>
        <div><p><a href="{{ post.url | prepend: site.url }}">Read more...</a></p></div>
      {% endif %}
    </li>
  {% endfor %}
</ul>