body.body-posts section.content {
    word-wrap: break-word;
    word-break: break-word;
}

body.body-posts section.content .highlight {
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

body.body-posts section.content h1,
h2,
h3,
h4,
h5,
h6>a {
    color: var(--bs-body-color);
}