body.body-posts section.content img {
    max-width: 70vw !important;
    height: auto;
}

body.body-posts section.content {
    word-wrap: break-word;
    word-break: break-word;
}

body.body-posts section.content .highlight {
    background: #272822;
    color: #f8f8f2;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}