body.body-posts section.content {
    word-wrap: break-word;
    word-break: break-word;
}

body.body-posts section.content .highlight {
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

body.body-posts section.content h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
    color: var(--bs-body-color);
}

body.body-posts section.content h1>a:hover,
h2>a:hover,
h3>a:hover,
h4>a:hover,
h5>a:hover,
h6>a:hover {
    color: var(--bs-body-color);
}