body {
    font-family: 'Roboto Mono', monospace;
}

.fork-me {
    width: 13rem;
    right: 0;
    position: fixed;
    z-index: 999;
    top: 10rem;
    border: 1rem solid black;
}

a.fork-me:link, a.fork-me:visited, a.fork-me:hover, a.fork-me:active, a.post-link:link, a.post-link:visited, a.post-link:hover, a.post-link:active, a.nav-blog-links:link, a.nav-blog-links:visited, a.nav-blog-links:hover, a.nav-blog-links:active {
    text-decoration: none;
}

nav>ul, ul.post-list {
    list-style: none;
}
.h-main {
    height: 50vh;
}

.fs-10 {
    font-size: 0.5rem;
}

footer {
    position: absolute;
    bottom: 0;
}

@media (max-width: 576px) {
    .fork-me {
        width: 3rem;
    }
}
