<html>

<head>
    {% include head.html %}
</head>

<body class="bg-body H-100 W-100">
    {% include fork.html %}
    {% include navigation.html %}
    <div class="container mt-2">
        <div class="row">
            <div class="offset-3 col-6">
                <section class="content">
                    <div class="container" id="main-container">
                        {{ content }}
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
{% include footer.html %}

</html>